<footer>
    <!-- Footer container holding the text and logos -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/footer.css">
  
    <div class="footer-container">
      <!-- Footer text to the left -->
      <div class="footer-text">
        <span>Sponsrat av</span>
      </div>
  
      <!-- Footer content for logos -->
      <div class="footer-content">
        <div class="footer-logo">
          <a href="https://www.janestreet.com/">
            <img src="{{site.baseurl}}/assets/images/janestreet.svg" alt="Jane Street" class="sponsor-logo" />
          </a>
        </div>
      </div>
    </div>
  </footer>
  