footer {
    background-color: #28282B;
    padding: 2.4vh 0;
    width: 100%;
    color: #fff;
    text-align: center;
    position: relative; 
}
  
html, body {
    height: 100%; 
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

main {
    flex: 1;
}

.footer-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 50vh;
    margin: 0 auto;
    /*max-width: 1200px;*/
    padding: 0 20px; 
}

.footer-text {
    font-size: 1.32vw;
    font-weight: bold;
    color: #fff;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    gap: 24vh;
}

.footer-logo img {
    height: 8.4vh;
    object-fit: contain;
}

@media (max-width: 900px) {
    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 1.8vh; 
        width: 100%;
        text-align: center;
    }

    .footer-logo img {
        max-height: 4.8vh;
    }
}
