/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #333;
}

.linked-img:hover {
    transform: scale(1.025);
}

a {
    color: blue;
    text-decoration: none;
}

.centered-text {
    display: block;
    /*max-width: 800px; */
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.8;
}

.centered-text p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.centered-text a {
    color: #007BFF;
}

.centered-text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2.4vh 4.8vh 0px 4.8vh;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.8vw;
}

.centered-text h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px 4.8vh 0px 3.6vh;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2vw;
}

.centered-text p {
    font-size: 2.76vh;
    color: #555;
    margin-top: 1.2vh;
    margin-left: 4.8vh;
    margin-right: 4.8vh;
    line-height: 1.5;
}

.center-img {
    display: block;
    margin: 40px auto;
    width: 50%;
    /*max-width: 300px;*/
    height: auto;
    transition: transform 0.3s ease;
}

.center-img img {
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.center-img:hover img {
    transform: scale(1.05);
}

.hero {
    position: relative;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.info {
    width: 50%;
    padding: 1.2vh;
    text-align: left;
    margin-right: 50px;
}

.info h1 {
    font-size: 2.2vw;
    font-weight: bold;
}

.info p {
    font-size: 1.3vw;
    margin-bottom: 0.36px;
    line-height: 1.4;
}

.info-rem {
    width: 50%;
    height: 40vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.info-rem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.info-quart {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.info-quart img {
    max-width: 100%;
    height: auto;
}

.page-title {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px) {
    .hero {
        height: 50vh;
    }

    .hero-title {
        font-size: 2rem;
    }

    .info {
        width: 100%; 
        margin-right: 0px;
    }

    .info-rem {
        width: 0%;
        display: none;
    }

    .info-quart {
        display: none; 
    }

    .centered-text {
        padding: 10px;
        margin-left: 0px;
    }

    .centered-text p {
        font-size: 1.1rem;
    }

    .center-img {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .hero {
        height: 40vh;
    }

    .hero-title {
        font-size: 1.5rem;
    }

    .info {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-right: 0px;
    }

    .info h1 {
        font-size: 1.5rem;
    }

    .info p {
        font-size: 1rem;
    }

    .info-rem {
        width: 0%;
        padding: 10px;
    }

    .info-quart {
        display: none;
    }

    .page-title {
        font-size: 1.5rem;
        margin: 15px 0;
    }

    .centered-text {
        padding: 0px;
        margin-left: 0px;
    }

    .centered-text p {
        font-size: 1rem;
    }

    .center-img {
        width: 80%;
        margin: 20px auto;
    }
}
