* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh; /* 110 px -> 13vh, 1.5rem -> 2vw */
    background-color: #28282B;
    padding: 0.6vh 2.4vh;
    position: relative;
    z-index: 10;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-logo img {
    height: 11vh;
    margin-right: 1.8vh;
}

.navbar-logo span {
    font-size: 2vw;
    color: white;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 4vw;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
}

.navbar-links a:hover {
    color: #ffdd00;
}

.discord {
    display: flex;
    align-items: center;
    gap: 1.2vh;
}

.discord-text {
    color: white;
    font-size: 1.4vw;
}

.discord-link img {
    width: 4.8vh;
    height: 3.6vh;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #28282B;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px 20px;
    z-index: 5;
}

.mobile-menu.open {
    display: flex;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.mobile-menu a:last-child {
    border-bottom: none;
}

.mobile-menu a:hover {
    color: #ffdd00;
}

@media (max-width: 900px) {
    .navbar-logo span {
        font-size: 1.2rem;
    }
    .navbar-links {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .discord {
        display: none;
    }
}