/* Hero Section */
.hero {
    position: relative;
    width: 100%; /* Full width */
    height: 60vh; /* Full viewport height */
    background-image: url("{{ site.baseurl }}/assets/images/ioai-all-teams.png"); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center; /* Center the image */
    display: flex; /* Flexbox for centering content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center the text */
}
  
.hero-content {
    color: #ffffff; /* White text */
}
  
.hero-title {
    font-size: 3rem; /* Large title */
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 1.4rem; /* Smaller title on mobile */
    }
    .hero {
        height: 40vh;
    }
}
